a {
    text-decoration: none;
    color: white;
}

navbar {
    display: flex;
    padding: 10px 10px;
    gap: 50px;
    background-color: black;
    color: white;
}

.profile-container {
    display: flex;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
}

.text {
    margin-right: 20px;
  }
